body{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f5f5f5;
}
header{
    background: #0ca341;
    color: rgb(11, 8, 8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.logo{
    font-size: 20px;
    font-weight: bold;
}
.top-nav a{
    color: rgb(14, 1, 1);
    text-decoration: none;
    margin-left: 40px;
    background-color: aqua;
    padding: 10px;
    box-shadow: 2px 2px 2px rgb(79, 69, 69);
}
.container{
    display: flex;
}
.sidebar{
    width: 200px;
    height: 1000px;
    background: #0eb13c;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}
.sidebar a:hover{
    background: #c40000;
  
}
.sidebar a{
    text-decoration: none;
    color:black;
    margin: 10px;
    background-color: antiquewhite;
    padding: 10px;
}
.content{
    flex-grow: 1;
    padding: 60px; 
    text-align: center;  
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}
.card{
   
    background: white;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgb(200, 87, 12);
    padding: 15px;
    width: 200px;
    text-align: center;
}
.card img{
    width: 100%;
    border-radius: 50%;
    border: 5px double #e27c09;
}


footer{
    text-align: center;
    background-color: rgb(21, 208, 21);
    color: rgb(13, 12, 12);
    padding: 10px 0;

}